<div class="kandidaten_widget" >
<img src="http://kandidaten2013.de/images/kandidaten/{lfd}.jpg"><h4>{wahl}</h4>
<h3>{name}</h3>
<a href="http://kandidaten2013.de/#!k{lfd}" target="_blank" >Mehr lesen...</a><br>
</div>
