<div class="kandidaten_detail" >
<h3>{name}</h4>
<h4>{tags}</h4>

<img class="image" src="http://kandidaten2013.de/images/kandidaten/{lfd}.jpg">

<p>{kandidiert}</p>
<table cellspacing="0" cellpadding="3" border="0" >
	<tr>
		<td class="cap" >Alter:</td><td>{alter}</td>
	</tr><tr>
		<td class="cap" >Wohnort:</td><td>{ort}</td>
	</tr><tr>
		<td class="cap" >Beruf:</td><td>{beruf}</td>
	</tr><tr>
		<td class="cap" >Familienstand:</td><td>{familienstand}</td>
	</tr><tr>
		<td class="cap" >E-Mail-Adresse:</td><td><a href="mailto:{email}">{email}</a></td>
	</tr>
</table>

<div class="vorstellung" >
{vorstellung}
<br />
<h4>Weitere Informationen:</h4>
	<div class="links" >
		{abgeordnetenwatchblock}<a class="awatch" href="{abgeordnetenwatch}" target="_blank">Website</a>{/abgeordnetenwatchblock}
		{websiteblock}<a class="website" href="{website}" target="_blank">Website</a>{/websiteblock}
		{facebookblock}<a class="facebook" href="{facebook}" target="_blank">Facebook </a>{/facebookblock}
		{twitterblock}<a class="twitter" href="{twitter}" target="_blank">Twitter </a>{/twitterblock}
		{googleplusblock}<a class="googleplus" href="{googleplus}" target="_blank">Google+</a>{/googleplusblock}
		{wikiblock}<a class="wiki" href="{wiki}" target="_blank">Piraten-Wiki</a>{/wikiblock}
	</div>
</div>
</div>